# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
*.egg-info/

# Model files — too large for GitHub (stored separately)
app/models/heart_disease_model.pkl

# Virtual environment
.venv/

# OS
.DS_Store
Thumbs.db

# pytest
.pytest_cache/

# VS Code
.vscode/